name: Test Project
on:
  push:
permissions:
  contents: read
jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Run Install
        run: npm ci
      - name: Run tests
        run: npm run test:ci
